<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kayuringinsehat"
        tools:targetApi="31">
        <activity
            android:name=".Pesan"
            android:exported="false" />
        <activity
            android:name=".AturAkun_TentangApp"
            android:exported="false" />
        <activity
            android:name=".AturAkun_EdGoldar"
            android:exported="false" />
        <activity
            android:name=".AturAkun_EdJK"
            android:exported="false" />
        <activity
            android:name=".AturAkun_EdEMail"
            android:exported="false" />
        <activity
            android:name=".AturAkun_EdBPJS"
            android:exported="false" />
        <activity
            android:name=".AturAkun_EdNam"
            android:exported="false" />
        <activity
            android:name=".NomorAntrian"
            android:exported="false" />
        <activity
            android:name=".PoliTersedia"
            android:exported="false" />
        <activity
            android:name=".DaftarPoli"
            android:exported="false" />
        <activity
            android:name=".FaskesTersedia"
            android:exported="false" />
        <activity
            android:name=".GiziActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".MensActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".BmiActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>
    </application>

</manifest>