<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kayuringinsehat"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.firebase.database.FirebaseDatabase"
            android:value="@string/google_app_id" />

        <activity
            android:name=".PesanActivity"
            android:exported="false" />
        <activity
            android:name=".AturAkun_TentangAppActivity"
            android:exported="false" />
        <activity
            android:name=".AturAkun_EdGoldarAcitivity"
            android:exported="false" />
        <activity
            android:name=".AturAkun_EdJKActivity"
            android:exported="false" />
        <activity
            android:name=".AturAkun_EdEMailActivity"
            android:exported="false" />
        <activity
            android:name=".AturAkun_EdBPJSActivity"
            android:exported="false" />
        <activity
            android:name=".AturAkun_EdNamActivity"
            android:exported="false" />
        <activity
            android:name=".NomorAntrianActivity"
            android:exported="false" />
        <activity
            android:name=".PoliTersediaActivity"
            android:exported="false" />
        <activity
            android:name=".DaftarPoliActivity"
            android:exported="false" />
        <activity
            android:name=".FaskesTersediaActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".GiziActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".MensActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".BmiActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>
    </application>

</manifest>